/**
 * ACCORDIONS
 */


.accordions {
	border-radius: $radius-large;
	//background-color: $white;
	@include box-shadow(1);
}

.accordion {
	&:first-child {
		border-radius: $radius-large $radius-large 0 0;

		.accordion-head {
			border-top: 0;
		}
	}

	&:last-child {
		border-radius: 0 0 $radius-large $radius-large;
	}

	&-head,
	&-body {
		padding: $spacing-sm;
	}

	&-head {
		padding-top: $spacing;
		padding-bottom: $spacing;
		cursor: pointer;
		border-top: 1px solid $grey-light;
	}

	&-body {
		display: none;
		border-top: 1px solid $grey-light;
	}
}