/**
 * ACCORDIONS
 *
 * Note: Each accordion-body must have an immediate .content element
 */


.accordions {
	border-radius: $radius-large;
	background-color: $white;
	@include box-shadow(1);
}

.accordion {
	&:first-child {
		border-radius: $radius-large $radius-large 0 0;

		.accordion-head {
			border-top: 0;
		}
	}

	&:last-child {
		border-radius: 0 0 $radius-large $radius-large;
	}

	&-head {
		padding: $spacing-sm;
		cursor: pointer;
		font-size: $size-5;
		border-top: 1px solid $grey-light;
		transition: color $speed $easing;

		.icon {
			transition: transform $speed $easing;
		}

		&.is-open {
			color: $primary;

			.icon {
				transform: rotate(90deg);
			}
		}
	}

	&-body {
		overflow: hidden;
		height: 0;
		transition: height $speed $easing;

		> .content {
			padding: $spacing;
			padding-top: 0;
		}
	}
}