/**
 * HERO
 * Extra styles extending the functionality of Bulma's hero element
 */


.hero {
	&:not(:first-of-type) {
		border-top: 1px solid rgba($black, 0.1);
	}

	&.is-landing {
		.container {
			@include desktop {
				max-width: 1000px;
			}
		}

		.title {
			font-size: $size-1;

			@include tablet {
				font-size: 4rem;
			}
		}
	}

	&.has-background {
		position: relative;
		overflow: hidden;
		background-color: transparent;
	}

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 0;

		&:after {
			// Color overlay if a color class is added to the hero
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.5;
			z-index: 2;

			.is-primary & {
				background-color: $primary;
			}
		}

		> img,
		> video {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&-body {
		position: relative;
		z-index: 1;

		.has-background & {
			text-shadow: rgba($black, 0.5) 0 2px 15px;
		}
	}

	// If we use a fixed navbar with a full-height hero
	// immediately after, adjust the hero height
	.page-head.is-fixed-top + &.is-fullheight {
		min-height: calc(100vh - #{$page-head-height});
	}
}