/**
 * PAGE HEAD
 *
 * The main navbar containing your logo and menu
 */


.page-head {
	height: $page-head-height;
	@include box-shadow(1);

	.navbar-item {
		text-transform: uppercase;
		font-size: $size-7;

		&:hover,
		&:focus {
			color: $primary !important;
		}
	}

	.navbar-menu {
		// This is the breakpoint
		@include touch {
			@include box-shadow(2);
		}
	}

	.navbar-dropdown {
		@include desktop {
			@include box-shadow(2);
		}
	}

	&.is-dark {
		.navbar-dropdown {
			background-color: $white-ter;
		}

		.navbar-burger {
			&:hover,
			&:focus {
				color: $white;
			}
		}
	}
}

.site-logo {
	> img {
		height: 1.25rem;
	}
}