/**
 * POINT
 *
 * For when you need to make a point. Contains an icon, a title, and text content.
 * Looks best when you have multiple points in a row using the grid/column system.
 */

.point {
	display: flex;
	flex-direction: column;
	padding-left: $spacing;
	padding-right: $spacing;

	&:hover {
		.point-icon {
			@include box-shadow(2);
		}
	}

	&:not(:last-child) {
		margin-bottom: $spacing;
	}

	&.is-horizontal {
		flex-direction: row;

		.title {
			margin-bottom: $spacing-sm;
			text-align: left;

			&:after {
				display: none;
			}
		}
	}

	&-icon {
		display: flex;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: $spacing;
		width: $point-icon-size;
		height: $point-icon-size;
		font-size: $point-icon-size/2.5;
		border-radius: 50%;
		color: $point-icon-fg;
		background-color: $point-icon-bg;
		transition: box-shadow $speed $easing;
		@include box-shadow(1);

		.is-horizontal & {
			flex-shrink: 0;
			width: $point-icon-size/2;
			height: $point-icon-size/2;
			font-size: $point-icon-size/4;
		}
	}

	&-body {
		.is-horizontal & {
			padding-left: $spacing;
		}
	}

	.title {
		position: relative;
		margin-bottom: $spacing-xl;
		text-align: center;
		font-size: $size-5;

		&:after {
			content: "";
			position: absolute;
			bottom: -$spacing-xl/2;
			left: 50%;
			width: 25%;
			margin-left: -12.5%;
			height: 1px;
			background-color: $grey-light;
			transition: transform $speed $easing;
		}
	}

	&:hover {
		.title:after {
			transform: scaleX(1.5);
		}
	}

	&-desc {
		//padding-left: $spacing;

		.is-horizontal & {
			padding-left: 0;
		}
	}
}