/**
 * TEAM
 *
 * Show a clickable list of team members or other humans.
 *
 * Optionally include social links that will overlay the person's
 * photo on hover. 4 social links or fewer looks best.
 */


.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	&-member {
		width: 100%;
		max-width: 240px;

		&:not(:last-child) {
			margin-bottom: $spacing;
		}

		&:hover {
			.social {
				opacity: 1;
			}
		}

		@include tablet {
			width: 50%;
		}

		@include desktop {
			width: 25%;
		}

		&-photo {
			position: relative;
			overflow: hidden;
			margin-bottom: $spacing;
			border-radius: 50%;
			@include box-shadow(4, "inset");

			> img {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: -1;
			}
		}

		&-name {
			margin-bottom: $spacing-xs;
			text-align: center;
			font-size: $size-5;
		}

		&-title {
			text-align: center;
			font-size: $size-6;
		}

		.social {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: $spacing-lg;
			background-color: rgba($primary, 0.5);
			color: $white;
			opacity: 0;
			transition: opacity $speed;
		}
	}
}