/**
 * VARIABLES
 *
 * Unless you're doing some really serious customization, you can probably
 * get everything done by changing these.
 *
 * Any default Bulma variables can be easily overridden here. You can find a
 * list of variables at https://bulma.io/documentation/overview/variables/
 */


/**
 * COLORS
 */
$grey-light: lighten($grey-light, 15%);
$primary: $cyan;
$footer-background-color: $grey-darker;


/**
 * BRAND COLORS
 */
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$linkedin: #007bb5;
$googleplus: #db4437;
$google: #4285f4;
$tumblr: #35465d;
$soundcloud: #ff5500;

$brand-colors: facebook $facebook,
			   twitter $twitter,
			   youtube $youtube,
			   instagram $instagram,
			   pinterest $pinterest,
			   linkedin $linkedin,
			   googleplus $googleplus,
			   google $google,
			   tumblr $tumblr,
			   soundcloud $soundcloud;


/**
 * FONTS
 */
$family-sans-serif: "IBM Plex Sans", sans-serif;
$family-title: $family-sans-serif;


/**
 * SPACING SHORTCUTS
 */
$spacing-xl: 2.5rem;
$spacing-lg: 2rem;
$spacing: 1.5rem;
$spacing-sm: 1rem;
$spacing-xs: 0.5rem;


/**
 * GENERIC VARIABLES
 */
$body-size: 16px;
$body-size-desk: 18px; // Optionally have different font size on desktop view
$speed: 200ms;


/**
 * PAGE HEAD
 */
$page-head-height: 3.25rem;


/**
 * POINT COMPONENT
 */
$point-icon-size: 6rem;     // Icon size
$point-icon-fg: $primary;   // Icon foreground color
$point-icon-bg: $white-ter; // Icon background color



