/**
 * VARIABLES
 *
 * Unless you're doing some really serious customization, you can probably
 * get everything done by changing these.
 */


/**
 * SPACING SHORTCUTS
 */
$spacing-xl: 2.5rem;
$spacing-lg: 2rem;
$spacing: 1.5rem;
$spacing-sm: 1rem;
$spacing-xs: 0.5rem;


/**
 * POINT COMPONENT
 */

$point-icon-size: 6rem;     // Icon size
$point-icon-fg: $primary;   // Icon foreground color
$point-icon-bg: $white-ter; // Icon background color



